/*Buttons*/

.bg-background-green {
    background-color: #31db82 !important;
    color: white !important;
}

.button-yellow {
    background-color: #ea9612 !important;
    color: white !important;
}

.button-red {
    background-color: #e12843 !important;
    color: white !important;
}

.button-green {
    background-color: #50a65f !important;
    color: white !important;
}

.button-blue {
    background-color: #1d5bd9 !important;
    color: white !important;
}


/*Color*/
.blue {
    color: #1d5bd9 !important;
}

.blue-light {
    color: #00cdff !important;
}

.yellow {
    color: #ea9612 !important;
}

.red {
    color: #e12843 !important;
}

.green-light {
    color: #4df498 !important;
}

.green-medium {
    color: #31db82 !important;
}

.green-dark {
    color: #39aa6c !important;
}

.icon-blue {
    background-color: #1d5bd9 !important;
    color: white !important;
}

.divider {
    border: 40px solid;
    border-top: none !important;
    color: white !important;
}

.opacity{
    opacity: .4;
}