/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

.bg-background {

    background-color: #39aa6c;
}
.bg-background-blue {

    background-color: #1d5bd9;
    color:white;
}
/* Root navigation specific */


