<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden bg-background-blue">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">

            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                CADENA DE SERVICIO
            </div>
            <div class="mt-3 sm:text-2xl text-center tracking-tight">
                Integramos proovedores del área médica en una red de colaboración con la meta de proporcionar un
                servicio profesional, ágil y confiable
                a nuestros socios a un precio justo.
            </div>

        </div>
    </div>

    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
        <!-- Cards -->
        <div
            class="grid grid-cols-1 md:grid-cols-3 gap-y-8 md:gap-y-0 md:gap-x-6 w-full max-w-sm md:max-w-4xl -mt-16 sm:-mt-24">
            <!-- Consultas Médicas card -->
            <div
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
                        <mat-icon class="icon-size-10 text-primary-500 dark:text-primary-300">card_giftcard
                        </mat-icon>
                    </div>
                    <div class="text-2xl font-semibold">Consultas Médicas</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Podrás consultar fácilmente en linea con médicos
                        especialistas
                        y tener acceso a una práctica médica acertada y de mayor nivel.
                    </div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <button mat-flat-button color="primary">CONTRATAR</button>
                </div>
            </div>
            <!-- Seguimiento card -->
            <div
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
                        <mat-icon class="icon-size-10 text-primary-500 dark:text-primary-300">spa
                        </mat-icon>
                    </div>
                    <div class="text-2xl font-semibold">Seguimiento Médico</div>
                    <div class="md:max-w-40 mt-1 text-secondary">
                        Damos seguimiento a tus indicadores de salud y trabajamos contigo para lograr poner bajo control
                        tu padecimento.
                    </div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <button mat-flat-button color="primary">CONTRATAR</button>
                </div>
            </div>
            <!-- Diagnóstico card -->
            <div
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
                        <mat-icon class="icon-size-10 text-primary-500 dark:text-primary-300">local_pharmacy
                        </mat-icon>
                    </div>
                    <div class="text-2xl font-semibold">Diagnóstico clinico</div>
                    <div class="md:max-w-40 mt-1 text-secondary">
                        Contarás con servicios de diagnóstico como análisis de laboratorio, ecografias,ultrasonidos y
                        radiografias que servirán
                        para un diagnostico y tratamientos adecuados.
                    </div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <button mat-flat-button color="primary">CONTRATAR</button>
                </div>
            </div>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-3 gap-y-8 md:gap-y-0 md:gap-x-6 w-full max-w-sm md:max-w-4xl -mt-16 sm:-mt-24 "
            style="padding-top:180px; margin-left:25%">
            <!-- Tratamientos card -->
            <div
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
                        <mat-icon class="icon-size-10 text-primary-500 dark:text-primary-300">layers
                        </mat-icon>
                    </div>
                    <div class="text-2xl font-semibold">Tratamientos Y Procedimientos</div>
                    <div class="md:max-w-40 mt-1 text-secondary">
                        Contamos con acuerdos con otras instituciones para brindarte servicios clinicos especializados.
                    </div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <button mat-flat-button color="primary">CONTRATAR</button>
                </div>
            </div>
            <!-- Suministro card -->
            <div
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
                        <mat-icon class="icon-size-10 text-primary-500 dark:text-primary-300">details
                        </mat-icon>
                    </div>
                    <div class="text-2xl font-semibold">Suministro de Productos</div>
                    <div class="md:max-w-40 mt-1 text-secondary">
                        Podrás surtir tu receta médica a través de nuestro sistema con entregas e el domicilio que nos
                        indiques
                    </div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <button mat-flat-button color="primary">CONTRATAR</button>
                </div>
            </div>

        </div>
    </div>
</div>