.mat-column-correo {
    width: 20%;
    word-wrap: break-word;
    text-align: left;
}

.mat-column-usuario {
    width: 20%;
    word-wrap: break-word;
    text-align: left;
}

.mat-column-nombre {
    width: 35%;
    word-wrap: break-word;
    text-align: left;
}