<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
      <!-- Header -->
      <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Planes</div>
      </div>

    <div class="px-4 sm:px-6 lg:px-8 overflow-hidden sm:overflow-y-auto">
<!-- Title -->
        <div class="-mx-4 mt-10 ring-1 ring-gray-300 sm:-mx-6 md:mx-0 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
            <thead>
            <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Plan</th>
                <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Costo</th>
                <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Descripcion</th>
                <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Servicios</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of dataSource">
                <td class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm">
                <div class="font-medium text-gray-900">{{ data.plan }}</div>
                <div class="mt-1 flex flex-col text-gray-500 sm:block lg:hidden">
                    <span>{{ data.costo }}</span>
                    <span class="hidden sm:inline"> {{ data.descripcion }} </span>
                    <span>{{ data.servicios }}</span>
                </div>
                </td>
                <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell">{{ data.costo }}</td>
                <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell">{{ data.descripcion }}</td>
                <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell">{{ data.servicios }}</td>
            </tr>

            </tbody>
        </table>
        </div>
        <div class="pb-5 border-b border-gray-200 mt-10">
            <h2 class="text-gray-900 text-xl">Solicitar de Plan</h2>
        </div>
        <div class="flex items-start space-x-4">

            <div class="min-w-0 flex-1">
              <form action="#" class="relative">
                <div class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
                  <label for="comment" class="sr-only">Descripción de Plan para la solicitud</label>
                  <textarea rows="3" name="comment" id="comment" class="block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm" placeholder="Add your comment..."></textarea>

                  <!-- Spacer element to match the height of the toolbar -->
                  <div class="py-2" aria-hidden="true">
                    <!-- Matches height of button in toolbar (1px border + 36px content height) -->
                    <div class="py-px">
                      <div class="h-9"></div>
                    </div>
                  </div>
                </div>

              <br/>
                  <div class="flex items-center justify-end">
                   
                    <button class="ml-2" mat-flat-button [color]="'primary'" >
                      Mandar Solicitud
                    </button>
                  </div>
                    <br />
              </form>
            </div>
          </div>

    </div>
</div>
